body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: scroll;
  background: url(https://www.seminolehardrocktampa.com/-/media/project/shrss/sga/casinos/hard-rock/tampa/dining/poker-snack-bar/gallery/poker-snack-bar-interior_3150x2150.jpg?w=1075&rev=4be132eac5fa4d9d8a7b02ee334cac6f&hash=54B15F5498FBAE486D7CA6887D75B835) no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
